/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

:root {
    /* Relación de tamaño de fuente */
    font-size: 16px;

    /* Colors */

    --ColorPrimario: #2EBBF2; /* Define una variable de color personalizada */
    --ColorSecundario: #F2811D;
    --ColorTerciario:  #E6E6FA;
    --ColorCuaternario: #FF5349;
    --ColorBackground: black;

    /* Family-fonts */
    --FuentePrincipal: 'Roboto', sans-serif;
    --FuenteSecundaria: 'Inter', sans-serif;
    --FuenteTerciaria: 'Alfa Slab One', serif;

    /* Relative Font-size */

    --XlFontSize: 6.563em; /*105px */
    --LgFontSize: 6em; /*95px */
    --MdFontSize: 4.375em; /* 70px */
    --SmFontSize: 3.125em; /* 50px */
    --XsFontSize: 1.875em;  /* 30px */
    --XxsFontSize: 1rem;
}
  

/*Estilos Globales--------------------------------------------------------*/
body{
    background-color: var(--ColorBackground);
}

/*Text, titules, inputs, labels----------------------------------------------------------------*/
.titulo-landing{
font-size: var(--SmFontSize);

}
.sub-landing{
  font-size: var(--XsFontSize);
}
h1{
    font-family: var(--FuentePrincipal);
    -webkit-text-stroke: 1px var(--ColorPrimario);
    color: transparent;
    font-size: calc(3.225rem + 5.2vw);
    font-weight: 600;
    line-height: 1.2;
}

h2{
    font-family: var(--FuentePrincipal);
    font-size: var(--SmFontSize);
    -webkit-text-stroke: 1px var(--ColorPrimario);
    color: transparent;
    font-weight: 900;
    letter-spacing: 0;
}

label{
    color: var(--ColorSecundario);
    font-family: var(--FuenteSecundaria);
    font-weight:lighter;
}

p{
    color: var(--ColorSecundario);
    font-family: var(--FuenteSecundaria);
    font-weight:lighter;
    font-size: small;  
}

.text-line{
    -webkit-text-stroke: 2px var(--ColorPrimario);
    color: transparent; 
}

.bigtext{
    font-family: var(--FuentePrincipal);
    font-size: var(--MdFontSize);
    font-weight: 800;
    letter-spacing: 0;
    
}

.wrap, h3, a{
    text-decoration: none;
    color: var(--ColorSecundario);
    font-family: var(--FuenteSecundaria);
    font-weight: 400;
}
h4{
  text-decoration: none;
    color: var(--ColorCuaternario);
    font-family: var(--FuenteTerciaria);
    font-weight: 400;
}
.text-color-primary{
    color: var(--ColorPrimario);
}
.navbar-title{
  font-family: var(--FuenteTerciaria);
}
.module-title{
    font-size: var(--MdFontSize);
    font-style: normal;
    font-weight: 900;
    font-family: var(--FuentePrincipal);
}
input{
    box-shadow: 0 0 5px var(--ColorPrimario);
}
/* Elemento de arrastre */
li {
    max-width: 50%; /* Limita el ancho máximo para evitar que se vuelvan largos */
    white-space: nowrap; /* Evita el desbordamiento de texto si es necesario */
    overflow: hidden; /* Oculta el contenido si es necesario */
    text-overflow: ellipsis; /* Muestra puntos suspensivos si es necesario */
    color: var(--ColorSecundario);
    font-size: var(--XsFontSize);
  }
  
/*Scroll bar ----------------------------------------------------------------------------*/
::-webkit-scrollbar {
    width: 0.5rem; /* Ancho del scrollbar */
}
  
::-webkit-scrollbar-track {
    background-color: #ffffff47; /* Color de fondo del track del scrollbar */
}
  
::-webkit-scrollbar-thumb {
    background-color: #ffffff47; /* Color del thumb del scrollbar */
    border-radius: 1rem; /* Borde redondeado del thumb del scrollbar */
}


/*Logos, imagenes e iconos----------------------------------------------------------------------- */
.img-logo-icon{
    width: 65px;
    height: 60px;
}
.img-logo-login{
    width: 14.625em;
    height: 14.625em;
}

.logout-icon{
    color: var(--ColorPrimario);
    padding-bottom: 5px;
    margin-left: 6px;
}

.profilephoto-nav{
    width: 38px;
    height: 37px;
}

.github-ico{
    width: 15px;
    height: 15px;

}

.img-logo{
width: 150px;
height: 180px;
}

.img-exercise{
  width: 100px;
  height: 100px;
  }

/*Menu, links and buttons-----------------------------------------------------------------*/
.nav-link{
  font-size: var(--XxsFontSize);
    color: var(--ColorSecundario);
    text-decoration: none ;
    font-weight: 600;
}

.navbar-toggler{
    color: transparent;
}

.menuBurger{
    font-size: var(--XsFontSize);
    font-weight: 9px;
    color: var(--ColorPrimario);
}
.btn-outline-secondary {
    color: var(--ColorTerciario); 
    border: 2px solid var(--ColorTerciario);
    background-color: whitesmoke;
    border-radius: 8px ;
}
.btn-outline-secondary:hover{
    background-color: var(--ColorTerciario);
    border: 2px solid var(--ColorTerciario);
    color: whitesmoke;
}

/* Footer Cards and modals*/
.modules-container{
  min-height: 500px;
}

.card{
  border-radius: 20px;
  background-color: var(--ColorTerciario);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.show-description {
  max-height: 1000px; /* O el valor máximo que desees para mostrar la descripción */
}

.card-footer{
    border-top: none;
    background: transparent;
}

.footer{
    color:var(--ColorPrimario);
    font-family: var(--FuenteSecundaria);
    font-weight:lighter;
    font-size: small;
    
}

.arrow-back{
    color: var(--ColorPrimario);
    font-size: var(--XsFontSize);
}

.seleccion:hover {
    background-color: white;
    color : black;  
}

.seleccionada { 
  background-color: var(--ColorSecundario);
  color : white;
}

.btn-verificar{
  background-color: var(--ColorSecundario);
  color : white;
}
/* Estilo personalizado para los radio buttons */


input[type="radio"]:checked {
    background-color: #6610F2; /* Cambia el fondo cuando está seleccionado */
    border-color: #6610F2; /* Cambia el borde cuando está seleccionado */
}
input[type="text"]:focus {
    border-color: #6610F2; /* Cambia el color del borde a azul (#007bff) */
    /* Otros estilos opcionales, como grosor del borde o sombra */
    border-width: 2px;
    border-style: solid;
    box-shadow: 0 0 5px #6610F2(0, 123, 255, 0.5); /* Sombra cuando está enfocado */
    outline: none; /* Elimina el contorno predeterminado del enfoque */
}

/* Animations */

/* Card Animation
 */

.scroll-smooth {
  scroll-behavior: smooth;
}

.card-animation {
  --g: 4px;     /* the gap */
  --b: 12px;    /* border thickness*/
  --c: #a003c7; /* the color */
  
  
  padding: calc(var(--g) + var(--b));
  --_c: #00000000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
  background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b),var(--b) 200%;
  cursor: pointer;
  filter: grayscale(50%);
  transition: .3s;
}
.card-animation:hover {
  --_p: 75%;
  filter: grayscale(0%);
}

/* Buttons animation  */
.css-button-shadow-border--black {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  background: #212529;
}
.css-button-shadow-border--black:hover {
  background-color: #9b05af;
  color: black;
}
.css-button-shadow-border--black:active {
  top: 2px;
}
/* Navbar */

:root {
    --background: var(--ColorTerciario);
    --navbar-width: 200px;
    --navbar-width-min: 80px;
    --navbar-dark-primary: #18283b;
    --navbar-dark-secondary: #2c3e50;
    --navbar-light-primary: #f5f6fa;
    --navbar-light-secondary: var(--ColorSecundario);
  }
  .orange-hr{
    color: var(--ColorSecundario);
  }
  #nav-bar{
    z-index: 1;
  }
  
  #nav-toggle:checked ~ #nav-header {
    width: calc(var(--navbar-width-min) - 16px);
  }
  #nav-toggle:checked ~ #nav-content, #nav-toggle:checked ~ #nav-footer {
    width: var(--navbar-width-min);
  }
  #nav-toggle:checked ~ #nav-header #nav-title {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
  }
  #nav-toggle:checked ~ #nav-header label[for=nav-toggle] {
    left: calc(50% - 8px);
    transform: translate(-50%);
  }
  #nav-toggle:checked ~ #nav-header #nav-toggle-burger {
    background: var(--navbar-light-primary);
  }
  #nav-toggle:checked ~ #nav-header #nav-toggle-burger:before, #nav-toggle:checked ~ #nav-header #nav-toggle-burger::after {
    width: 16px;
    background: var(--navbar-light-secondary);
    transform: translate(0, 0) rotate(0deg);
  }
  #nav-toggle:checked ~ #nav-content .nav-button span {
    opacity: 0;
    transition: opacity;
  }
  #nav-toggle:checked ~ #nav-content .nav-button .fas {
    min-width: calc(100% - 16px);
  }
  #nav-toggle:checked ~ #nav-footer #nav-footer-avatar {
    margin-left: 0;
    left: 50%;
    transform: translate(-50%);
  }
  #nav-toggle:checked ~ #nav-footer #nav-footer-titlebox, #nav-toggle:checked ~ #nav-footer label[for=nav-footer-toggle] {
    opacity: 0;
    transition: opacity 0.1s;
    pointer-events: none;
  }
  
  #nav-bar {
    position: absolute;
    left: 1vw;
    top: 1vw;
    height: calc(100% - 2vw);
    background: var(--navbar-dark-primary);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    color: var(--navbar-light-primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    user-select: none;
  }
  #nav-bar hr {
    margin: 0;
    position: relative;
    left: 16px;
    width: calc(100% - 32px);
    border: none;
    border-top: solid 1px var(--navbar-dark-secondary);
  }
  #nav-bar a {
    color: inherit;
    text-decoration: inherit;
  }
  #nav-bar input[type=checkbox] {
    display: none;
  }
  
  #nav-header {
    position: relative;
    width: var(--navbar-width);
    left: 16px;
    width: calc(var(--navbar-width) - 16px);
    min-height: 80px;
    background: var(--navbar-dark-primary);
    border-radius: 16px;
    z-index: 2;
    display: flex;
    align-items: center;
    transition: width 0.2s;
  }
  #nav-header hr {
    position: absolute;
    bottom: 0;
  }
  
  #nav-title {
    font-size: 1.5rem;
    transition: opacity 1s;
  }
  
  label[for=nav-toggle] {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  #nav-toggle-burger {
    position: relative;
    width: 16px;
    height: 2px;
    background: var(--navbar-dark-primary);
    border-radius: 99px;
    transition: background 0.2s;
  }
  #nav-toggle-burger:before, #nav-toggle-burger:after {
    content: "";
    position: absolute;
    top: -6px;
    width: 10px;
    height: 2px;
    background: var(--navbar-light-primary);
    border-radius: 99px;
    transform: translate(2px, 8px) rotate(30deg);
    transition: 0.2s;
  }
  #nav-toggle-burger:after {
    top: 6px;
    transform: translate(2px, -8px) rotate(-30deg);
  }
  
  #nav-content {
    margin: -16px 0;
    padding: 16px 0;
    position: relative;
    flex: 1;
    width: var(--navbar-width);
    background: var(--navbar-dark-primary);
    box-shadow: 0 0 0 16px var(--navbar-dark-primary);
    direction: rtl;
    overflow-x: hidden;
    transition: width 0.2s;
  }
  #nav-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  #nav-content::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #D62929;
  }
  #nav-content::-webkit-scrollbar-button {
    height: 16px;
  }
  
  #nav-content-highlight {
    position: absolute;
    left: 16px;
    top: -70px;
    width: calc(100% - 16px);
    height: 54px;
    background: var(--background);
    background-attachment: fixed;
    border-radius: 16px 0 0 16px;
    transition: top 0.2s;
  }
  #nav-content-highlight:before, #nav-content-highlight:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 16px 16px var(--background);
  }
  #nav-content-highlight:after {
    top: 100%;
    box-shadow: 16px -16px var(--background);
  }
  
  .nav-button {
    position: relative;
    margin: 2px 0 0 16px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-items: center;
    color: var(--navbar-light-secondary);
    direction: ltr;
    cursor: pointer;
    z-index: 1;
    transition: color 0.2s;
  }
  .nav-button span {
    transition: opacity 1s;
  }
  .nav-button .fas {
    transition: min-width 0.2s;
  }
  .nav-button:nth-of-type(1):hover {
    color: var(--navbar-dark-primary);
  }
  .nav-button:nth-of-type(1):hover ~ #nav-content-highlight {
    top: 16px;
  }
  .nav-button:nth-of-type(2):hover {
    color: var(--navbar-dark-primary);
  }
  .nav-button:nth-of-type(2):hover ~ #nav-content-highlight {
    top: 70px;
  }
  .nav-button:nth-of-type(3):hover {
    color: var(--navbar-dark-primary);
  }
  .nav-button:nth-of-type(3):hover ~ #nav-content-highlight {
    top: 124px;
  }
  .nav-button:nth-of-type(4):hover {
    color: var(--navbar-dark-primary);
  }
  .nav-button:nth-of-type(4):hover ~ #nav-content-highlight {
    top: 178px;
  }
  .nav-button:nth-of-type(5):hover {
    color: var(--navbar-dark-primary);
  }
  .nav-button:nth-of-type(5):hover ~ #nav-content-highlight {
    top: 232px;
  }
  .nav-button:nth-of-type(6):hover {
    color: var(--navbar-dark-primary);
  }
  .nav-button:nth-of-type(6):hover ~ #nav-content-highlight {
    top: 286px;
  }
  .nav-button:nth-of-type(7):hover {
    color: var(--navbar-dark-primary);
  }
  .nav-button:nth-of-type(7):hover ~ #nav-content-highlight {
    top: 340px;
  }
  .nav-button:nth-of-type(8):hover {
    color: var(--navbar-dark-primary);
  }
  .nav-button:nth-of-type(8):hover ~ #nav-content-highlight {
    top: 394px;
  }
  
  #nav-bar .fas {
    min-width: 3rem;
    text-align: center;
  }
  
  #nav-footer {
    position: relative;
    width: var(--navbar-width);
    height: 54px;
    background: var(--navbar-dark-secondary);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transition: width 0.2s, height 0.2s;
  }
  
  #nav-footer-heading {
    position: relative;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
  }
  
  #nav-footer-avatar {
    position: relative;
    margin: 11px 0 11px 16px;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(0);
    transition: 0.2s;
  }
  #nav-footer-avatar img {
    height: 100%;
  }
  
  #nav-footer-titlebox {
    position: relative;
    margin-left: 16px;
    width: 10px;
    display: flex;
    flex-direction: column;
    transition: opacity 1s;
  }
  
  #nav-footer-subtitle {
    color: var(--navbar-light-secondary);
    font-size: 0.6rem;
  }
  
  #nav-footer-toggle:checked + #nav-footer {
    height: 30%;
    min-height: 54px;
  }
  #nav-footer-toggle:checked + #nav-footer label[for=nav-footer-toggle] {
    transform: rotate(180deg);
  }
  
  label[for=nav-footer-toggle] {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
  }
  
  #nav-footer-content {
    margin: 0 16px 16px 16px;
    border-top: solid 1px var(--navbar-light-secondary);
    padding: 16px 0;
    color: var(--navbar-light-secondary);
    font-size: 0.8rem;
    overflow: auto;
  }
  #nav-footer-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  #nav-footer-content::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #D62929;
  }

.teachersname{
  cursor:pointer;
}

.table-hover:hover{
  background-color: #fdfdfcb7;
  color: black;
  cursor: pointer;
}
